$brand-primary: #00e0d0; /* plava */
$brand-success: #226F54; /* zelena */
$brand-info: #A9E5BB; /* mentol */
$brand-warning: #FFD166; /* zolta */
$brand-danger: #E03616; /* portokalova */

$color-neutral: #413d4b; /* temno gri */