.happy-clients {
	background-color:  #50c3af;
}

.cli {
	padding: 0;
}

.clients {
	background-color: transparent;
	border: 0;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}

.br{
	border-right: 2px solid $color-neutral;
	border-radius: 0;
	}


